/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", system-ui, sans-serif;
    background-color: #000;
    color: #fff;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    padding: 0 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background: linear-gradient(to bottom, rgba(0,0,0,0.95), rgba(0,0,0,0.7));
}

/* logo part */
.nav-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-icon {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    background: #0b84ff;
}

.logo-text {
    font-size: 20px;
    font-weight: 600;
}

/* center links */
.nav-center {
    display: flex;
    gap: 30px;
}

.nav-center a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 14px;
}

.nav-center a:hover {
    color: #ffffff;
}

/* right side buttons */
.nav-right {
    display: flex;
    align-items: center;
    gap: 14px;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    color: #ffffff;
}

.btn {
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
}

.btn-dark {
    background: #111827;
    color: #ffffff;
    border: 1px solid white;
}

.btn-blue {
    background: #0b84ff;
    color: #ffffff;
}

